<div class="jumbotron">
  <h1 class="display-4">Welcome to Agora!</h1>
  <p class="lead">We are an online marketplace for sellers and buyers alike. Simply create an account and you can create your store or browse other stores to purchase items!</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Sign-Up!</a>
</div>