<div class="row row-cols-1 accountInfo">
    <div class="col">
        <span><strong>User Email:</strong>{{userEmail}}</span>        
    </div>
    <div class="col">
        <span><strong>Name: </strong>{{userName}}</span>
    </div>
    <div class="col">
        <span><strong>Member since:</strong>{{joinDate}}</span>
    </div>
    </form>
</div>